<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trash.collection.trash.score.dao.DonationGoodsOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trash.collection.trash.score.domain.DonationGoodsOrder">
        <id column="id" property="id"/>
        <result column="donation_goods_id" property="donationGoodsId"/>
        <result column="user_id" property="userId"/>
        <result column="donation_logistics_id" property="donationLogisticsId"/>
        <result column="worker_message_id" property="workerMessageId"/>
        <result column="user_address_id" property="userAddressId"/>
        <result column="goods_order_number" property="goodsOrderNumber"/>
        <result column="goods_count" property="goodsCount"/>
        <result column="gain_score" property="gainScore"/>
        <result column="gain_score_time" property="gainScoreTime"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
    <select id="getGoodsOrderList" resultType="com.trash.collection.trash.score.VO.DonationGoodsOrderVO">
        SELECT
        dg.goods_name goodsName,
        dg.id donationGoodsId,
        dgo.state state,
        dgo.goods_order_number orderNumber,
        su.username userName,
        dgo.goods_count goodsCount,
        dgo.gain_score gainScore,
        dgo.gain_score_time gainScoreTime,
        dgo.id id
        FROM
        sc_donation_goods_order dgo
        LEFT JOIN pr_donation_goods dg ON dg.id = dgo.donation_goods_id
        LEFT JOIN sys_user su ON su.user_id = dgo.user_id
        <where>
            <if test="orderNumber != null and orderNumber != ''">
                dgo.goods_order_number LIKE concat ( '%', #{orderNumber}, '%' )
            </if>
            <if test="state != null and state != ''">
                AND state = #{state}
            </if>
            <if test="param != null and param != ''">
                AND (dg.goods_name LIKE concat ( '%', #{param}, '%' )
                or su.username LIKE concat('%',#{param},'%'))
            </if>
        </where>
        ORDER BY dgo.create_time
    </select>
    <select id="getListByUser" resultType="com.trash.collection.trash.score.domain.DonationGoodsOrder">
        select
        *
        from
        sc_donation_goods_order
        where
        state = #{state}
        and user_id = #{userId}
        order by create_time DESC
    </select>

</mapper>
